@model List<IntSchl_BOL.Models.blog>
@{
    ViewBag.Title = "BlogDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Inner Heading Start -->
<div class="innerHeading-wrap">
    <div class="container">
        <h1>Blog Details</h1>
    </div>
</div>
<!-- Inner Heading End -->
<!-- Inner Content Start -->
<div class="innerContent-wrap">
    <div class="container">
        <div class="blog_inner bloggridWrp">
            <div class="row">
                <div class="col-lg-8 ">
                    @{
                        foreach(var item in Model) {

                        <div class="class_left">
                            <div class="class_img1">
                                
                                <img src="@item.image" alt="">
                                <div class="time_box"><span>Posted on:@item.postdate </span></div>
                            </div>
                            
                            <h3>@item.heading</h3>
                           
                            <p class="blog_para">
                                @item.description;
                            </p>
                        </div>
                        }
                    }
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Inner Content Start -->
