@model List<IntSchl_BOL.Models.Event>
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Inner Heading Start -->
<div class="innerHeading-wrap">
    <div class="container">
        <h1>Events</h1>
    </div>
</div>
<!-- Inner Heading End -->

<!-- Inner Content Start -->
<div class="innerContent-wrap">
    <div class="container">
        <div class="blog_inner ">
            <ul class="row unorderList">
                
                <!--Event Card-->
                @{
                    foreach (var item in Model)
                    {
                        <li class="col-lg-4 col-md-6">
                            <div class="blog_box">
                                <div class="blogImg">
                                    <img src="@item.eventPhoto" alt="" id="blog_img">
                                    <div class="time_box"><span>Event Date:@item.eventDate</span></div>
                                </div>
                                <div class="path_box">
                                    <!--Event Heading-->
                                    <b><a href="@Url.Action("Eventphotos","Home", new { eid = item.eid })">@item.eventName</a></b>

                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
            <div class="blog-pagination text-center"> <a href="#0"><i class="fas fa-angle-left"></i></a> <a href="#0" class="active">01</a> <a href="#0" class="">02</a> <a href="#0">03</a> <a href="#0"><i class="fas fa-angle-right"></i></a> </div>
        </div>
    </div>
</div>
<!-- Inner Content end -->

