
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Inner Heading Start -->
<div class="innerHeading-wrap">
    <div class="container">
        <h1>Login</h1>
    </div>
</div>
<!-- Inner Heading End -->
<!-- Inner Content Start -->
<div class="innerContent-wrap">
    <div class="container">

        <!-- Logn Start -->
        <div class="login-wrap ">
            <div class="contact-info login_box">
              
                
                <div class="contact-form loginWrp">
                    <h3>Login Admin</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <form action="javascript:void(0)" method="post" enctype="multipart/form-data" onsubmit="return OnsubmitLoginForm(event, this)">
                        
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <input type="text" name="loginUserName" class="form-control" placeholder="Username" id="username">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <input type="text" name="LoginUserPassword" class="form-control" placeholder="Password" id="password">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="default-btn btn send_btn"> Log in to my account <span></span></button>
                                </div>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Login End -->

    </div>
</div>
<!-- Inner Content Start -->




<script>
    function OnsubmitLoginForm(e, t) {
        $(".error").remove();
        if (!loginvalidations()) {
            console.log("Not Submitted");
            return false;
        }
        else {
            console.log("Form Submited");
            $(t).attr("action", "/Home/Login");
        }
    }

    function loginvalidations() {
        //debugger;
        var Username = $("#username").val();
        var Password = $("#password").val();
       
        var check = 0;

        if (Username == '') {
            $('#username').after('<span class="error">This field is required</span>');
            check = 1;
            //debugger;
        }

        if (Password == '') {
            $('#password').after('<span class="error">This field is required</span>');
            check = 1;
            //debugger;
        }

        //if 1 not submit the form, if 0 form will submit
        if (check == 1) {
            //debugger;
            console.log("I am Checked, False 1");
            return false;
        }
        else {
            //debugger;
            console.log("I am Checked, True 0");
            return true;
        }

    }
</script>
