@model List<IntSchl_BOL.Models.Teacher>
@{
    ViewBag.Title = "Teachers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Inner Heading Start -->
<div class="innerHeading-wrap">
    <div class="container">
        <h1>Teachers</h1>
    </div>
</div>
<!-- Inner Heading End -->

<!-- Inner Content Start -->
<div class="innerContent-wrap">
    <div class="container">

        <!-- Teachers Start -->
        <div class="innerteacher-wrap">
            <div class="row">
                @{
                    foreach (var item in Model)
                    {
                        <div class="col-lg-3 col-md-6 ">
                            <div class="single-teachers">

                                <div class="teacherImg">
                                    <img src="@item.Photo" alt="Image">
                                    <ul class="social-icons list-inline">
                                        <!-- social-icons -->
                                        <li class="social-facebook"> <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> </li>
                                        <li class="social-twitter"> <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
                                        <li class="social-linkedin"> <a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a> </li>
                                        <li class="social-googleplus"> <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a> </li>
                                    </ul>
                                </div>
                                <div class="teachers-content">
                                    <h3>@item.Name</h3>
                                    <div class="designation">@item.Subject_name</div>
                                </div>

                            </div>
                        </div>
                    }
                }


            </div>
        </div>
        <!-- Teachers End -->

    </div>
</div>
<!-- Inner Content Start -->

<!--Newsletter Start-->
<div class="newsletter-wrap ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="title">
                    <h1>Newsletter</h1>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="col-lg-6">
                <div class="news-info">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" name="search" placeholder="Email Address">
                            <div class="form_icon"><i class="fas fa-envelope"></i></div>
                        </div>
                        <button class="sigup">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Newsletter End-->
