
@{
    ViewBag.Title = "addEvents";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div class="sb2-2">
    <div class="sb2-2-2">
        <ul>
            <li>
                <a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="active-bre">
                <a href="#"> Add New Event</a>
            </li>
            <li class="page-back">
                <a href="index.html"><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li>
        </ul>
    </div>
    <div class="sb2-2-add-blog sb2-2-1">
        <div class="box-inn-sp">
            <div class="inn-title">
                <h4>Add New Event</h4>
               
            </div>
            <div class="bor">
                <form action="javascript:void(0)" method="post" enctype="multipart/form-data" onsubmit="return OnSubmitEventForm(event, this)">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="ename" type="text" class="validate" name="eventName">
                            <label for="ename">Event Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <div class="file-field">
                                <div class="btn">
                                    <span>Event Photo</span>
                                    <input type="file" name="postedFile">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Upload Event Banner" id="ephoto" name="postedFile">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            .
                            <input id="edate" type="date" class="validate" name="eventDate">
                            <label for="eventDate">EventDate</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="submit" class="waves-effect waves-light btn-large" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

