@model List<IntSchl_BOL.Models.Photos>
@{
    ViewBag.Title = "allPhotos";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}


<div class="sb2-2">
    <div class="sb2-2-2">
        <ul>
            <li>
                <a href=""><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="active-bre">
                <a href="#"> All Events</a>
            </li>
        </ul>
    </div>
    <div class="sb2-2-1">
        <h2>All Events</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Event Name</th>
                    <th>Photo</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                @{
                    int count = 0;
                    foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.eventName</td>
                            <td><img id="adminTeacherImg" src="@item.Photo" /></td>
                           
                            <td>
                                <a onclick="return onClickDeletePhoto(event, this)" data-emid="@item.pid" class="sb2-2-1-edit"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </td>
                           
                        </tr>
                    }}

            </tbody>
        </table>
    </div>
</div>
