
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div class="sb2-2">
    <div class="sb2-2-2">
        <ul>
            <li>
                <a href=""><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
           
        </ul>
    </div>
   <h1>Index</h1>
</div>

